header {
    background-color: rgba(44,62,80,255);
}

#jumbotron, .bckgrd-green {
    background-color: rgba(26,188,156,255);
}

#jumbotron img {
    width: 70%;
    height: auto;
}

hr {
    flex-basis: 50%;
    border: 3px solid;
    opacity: 1;
}
