[class*="container"] {
    height: 100px;
    background-color: aqua;
}

.row {
    height: 100px;
    background-color: aquamarine;
}

[class*="col"] {
    height: 75px;
    background-color: beige;
}
